@import "../../styles/variables";

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  &__button {
    background-color: $light_grey;
    border: none;
    width: 80px;
    margin: 5px;
    font-size: 14px;
    border-right: 1px solid $white;
    font-weight: 500;
    color: $dark_grey;
    cursor: pointer;
    transition: all 0.2s;

    &--selected {
      background-color: $light_red;
      color: $white;
      font-weight: 600;
    }

    &:hover {
      background-color: $medium_red;
      color: $white;
      font-weight: 600;
    }
  }
}
