.search {
  display: flex;
  width: 100%;
  margin: 16px 0 32px;

  &__input {
    border: 2px solid #e4e4e5;
    border-radius: 5px;
    padding: 10px 12px;
    flex: 1;

    &::placeholder {
      color: #c7cdd8;
    }
  }
}
