@import "../../styles/variables";

.ordinate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $dark_grey;
  border-radius: 5px;

  &__text {
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    color: $white;
    margin-left: 8px;
  }

  &__select {
    background-color: $white;
    border: none;
    margin: 0 8px;
    display: flex;
    font-size: 14px;
  }
}
