@import "../../styles/variables";

.box {
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: 100px auto 0;
  padding: 16px;

  &__logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
  }
}
